<div [class.dark-theme]="isDarkTheme">
  <md-sidenav-layout fullscreen>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
      <md-nav-list>
        <div *ngFor="let view of views">
          <a md-list-item [routerLink]="[view.route]">
            <md-icon md-list-icon>{{view.icon}}</md-icon>
            <span md-line>{{view.name}}</span>
            <span md-line class="secondary">{{view.description}}</span>
          </a>
        </div>
      </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
      <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>

      <span class="app-toolbar-filler">
        Starter Angular-Cli App
      </span>

      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>

    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="showSettings()">Settings</button>
      <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
    </md-menu>

    <div class="app-content">
      <button md-raised-button [routerLink]="['/md']" >Material Design</button>
      <button md-raised-button [routerLink]="['/dashboard']">Dashboard</button>
      <button md-raised-button [routerLink]="['/http']">Http</button>
      <button md-raised-button [routerLink]="['/client-view']">Client</button>
      <button md-raised-button [routerLink]="['/item-view']">Item</button>
      <button md-raised-button [routerLink]="['/item-batch-view']">Item Batch</button>
      <router-outlet></router-outlet>
    </div>

  </md-sidenav-layout>

  <span class="app-action">
    <button md-fab><md-icon>check circle</md-icon></button>
  </span>
</div>
