<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>
  
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Starter Angular-Cli App

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <a [routerLink]="['/md']">Material Design</a>
    <a [routerLink]="['/dashboard']">Dashboard</a>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>

<!--<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>-->
