<md-card class="app-input-section">
    <md-input placeholder="Filter by"  [(ngModel)]='listFilter' (change)="onFilterChange()"></md-input>
</md-card>

<md-card>
    <div>
        
        <md-progress-circle mode="indeterminate" *ngIf="nowLoading" style="align:center;"></md-progress-circle>
        <table class="table table-responsive full-width" *ngIf="items && items.length && !nowLoading">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th style="text-align: right;">Item On Hand</th>
                </tr>                    
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        <md-checkbox [checked]="false" id="{{ item.Code }}"></md-checkbox>
                    </td>
                    <td>{{ item.Name }}</td>
                    <td style="text-align: right;">{{ item["Item On Hand"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</md-card>
