<md-card class="app-input-section">
    <md-input placeholder="Filter by"  [(ngModel)]='listFilter' (change)="onFilterChange()"></md-input>
</md-card>

<md-card>
    <h3>Filter by: {{listFilter}}</h3>

    <div class="table-responsive">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width" *ngIf="clients && clients.length">
            <thead>
                <tr>
                    <th>Client Number</th>
                    <th>Lastname</th>
                    <th>First</th>
                </tr>                    
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{ client.Client_Number }}</td>
                    <td>{{ client.Surname }}</td>
                    <td>{{ client.First_Name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</md-card>

<!--<div class="table-responsive">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width" *ngIf="clients && clients.length">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Id</th>
                <th class="mdl-data-table__cell--non-numeric">Lastname</th>
                <th class="mdl-data-table__cell--non-numeric">First</th>
            </tr>                    
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.Client_Number }}</td>
                <td>{{ client.Surname }}</td>
                <td>{{ client.First_Name }}</td>
            </tr>
        </tbody>
    </table>
</div>-->

